$primary-color: #D8D8D8;
$primary-color-faded: #DDD;
$text-color: #333;
$sub-text-color: #888;

$break-large: 1170px;
$break-medium: 992px;
$break-small: 767px;

body {
  padding: 0;
  margin: 0;
  font-family: "Lucida Grande";
  color: $text-color;
}

.bottom-underline-thin {
  border-bottom: 1px solid $sub-text-color;
}

.header {
  text-align: center;
  h1 {
    font-family: 'Satisfy', cursive;
    font-size: 4em;
    @media screen and (max-width: $break-small) {
      font-size: 2em;
    }
  }
}

.na-nav {
  text-align: center;
  .na-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    margin-top: 30px;
    margin-bottom: 25px;
    @media screen and (max-width: $break-small) {
      margin-top: 0px;
      margin-bottom: 10px;
    }
    * {
      padding: 10px 20px 10px 20px;
      @media screen and (max-width: $break-small) {
        padding: 2px 5px 2px 5px;
      }
      color: #D8D8D8;
    }
    * a {
      transition: all 0.5s;
      font-family: 'Raleway', sans-serif;
      @media screen and (max-width: $break-small) {
        font-size: 0.8em;
      }
      font-size: 1.3em;
    }
    * a:hover {
      color: #888;
    }
    *.active {
      border-bottom: 3px solid #888;
      font-weight: normal;
      a {
        color: #888;
      }
    }
  }
}

.intro {
  font-family: 'Raleway', sans-serif;
  p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    @media screen and (max-width: $break-small) {
      font-size: 1em;
    }
  }
  a {
    border-bottom: 1px solid $sub-text-color;
  }
}

.shop-container {
  padding-left: 160px;
  padding-right: 160px;
  @media screen and (max-width: $break-medium) {
    padding-left: 30px;
    padding-right: 30px;
  }
  h4 {
    font-family: 'Noto Serif', serif;
    color: $primary-color;
  }
}

#header {
  padding: 20px;
  background-color: black;
  color: white;
}
#content {
  padding: 20px;
}

li>a {
  text-decoration: none;
}

a:visited, a:link {
  color: $text-color;
}

a:hover {
    text-decoration: none;
}

// FOR PORTFOLIO //
.portfolio-container {
  p {
    font-size: 1.33em;
    padding: 10px;
  }
}

.card {
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: $break-medium) {
    margin-left: 20px;
    margin-right: 20px;
  }
  @media screen and (max-width: $break-small) {
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
  }
  .portfolio-image {
    flex: 1;
    max-width: 350px;
    z-index: 1;
    border: 1px solid $primary-color-faded;
    @media screen and (max-width: $break-small) {
      max-width: none;
      order: 1;
    }
    img {
      width: 100%;
    }
  }
  .portfolio-brief {
    flex: 1.5;
    @media screen and (max-width: $break-small) {
      flex: 1;
      order: 2;
    }
    padding-left: 25px;
    padding-right: 25px;
    align-self: center;
    h3 {
      line-height: 1.4em;
      @media screen and (max-width: $break-small) {
        font-size: 0.9em;
      }
    }
    p {
      @media screen and (max-width: $break-small) {
        font-size: 0.9em;
      }
    }
    h3, p {
      padding-left: 0px;
      margin-left: 0px;
      padding-right: 0px;
      margin-right: 0px;
      font-family: 'Raleway', sans-serif;
      color: $text-color;
      a {
        @extend .bottom-underline-thin;
        font-family: 'Noto Serif', sans-serif;
      }
    }
  }
}

.shopcard {
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 15px 0px;
  // -webkit-transition: all 0.3s ease;
  // -moz-transition: all 0.3s ease;
  // -o-transition: all 0.3s ease;
  h4 {
    padding-top: 0px;
    margin-top: 0px;
    font-family: 'Noto Serif', sans-serif;
    @media screen and (max-width: $break-small) {
      font-size: 0.9em;
    }
    span {
      @extend .bottom-underline-thin;
    }
  }
  h4.size {
    text-align: right;
  }
  p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    @media screen and (max-width: $break-small) {
      font-size: 1em;
    }
  }
  img {
    border: 1px solid #DDD;
    width: 100%;
    max-width: 350px;
    margin-bottom: 20px;
  }
  a {
    @extend .bottom-underline-thin;
  }
}

// FOR BLOG //
.blog-container {
    padding-left: 240px;
    padding-right: 160px;
    @media screen and (max-width: $break-medium) {
      padding-left: 20px;
      padding-right: 20px;
    }
}

.post-container {
  margin-bottom: 50px;
  h1 {
    span {
      @extend .bottom-underline-thin;
    }
  }
  p, sub {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    @media screen and (max-width: $break-small) {
      font-size: 1em;
    }
  }
}

.post-title {
    font-size: 1.5em;
    font-weight: lighter;
}

.post-detail {
  font-size: 1.3em;
  color: $text-color;
}

.article-container {
   > * {
    width: 770px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: $break-large) {
      width: 650px;
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and (max-width: $break-medium) {
      width: auto;
      margin-left: 30px;
      margin-right: 30px;
    }
    @media screen and (max-width: $break-small) {
      width: auto;
      margin-left: 30px;
      margin-right: 30px;
    }
  }
  h1 {
    font-size: 3em;
    margin-top: 60px;
    margin-bottom: 30px;
    font-family: 'Noto Serif', serif;
    @media screen and (max-width: $break-small) {
      font-size: 1.7em;
      margin-top: 30px;
      margin-bottom: 15px;
      line-height: 160%;
    }
  }
  h2 {
    color: $sub-text-color;
    margin-top: 60px;
    margin-bottom: 30px;
    font-family: 'Noto Serif', serif;
    line-height: 130%;
    @media screen and (max-width: $break-small) {
      font-size: 1.5em;
      margin-top: 30px;
      margin-bottom: 15px;
      line-height: 140%;
    }
  }
  h3 {
    margin-top: 60px;
    color: $sub-text-color;
    margin-bottom: 30px;
    font-family: 'Noto Serif', serif;
    line-height: 210%;
    @media screen and (max-width: $break-small) {
      font-size: 1.5em;
      line-height: 140%;
      margin-top: 30px;
      margin-bottom: 15px;
    }
  }
  p {
    font-size: 1.4em;
    font-family: 'Raleway', sans-serif;
    line-height: 170%;
    @media screen and (max-width: $break-small) {
      font-size: 1.1em;
    }
  }
  img {
    margin-top: 25px;
    margin-left: -5%;
    margin-bottom: 15px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    width: 110%;
    + em {
      font-size: small;
      color: #AAA;
      display: inline-block;
      line-height: 1.5;
      margin-top: 10px;
    }
  }
  a {
    color: $text-color;
    @extend .bottom-underline-thin;
    display: inline-block;
    line-height: 1;
  }
  blockquote{
    border-left: 5px solid $primary-color;
    @media screen and (max-width: $break-small) {
      border-left: 2px solid $primary-color;
    }
    p {
      font-size: 1.2em;
      color: $sub-text-color;
      @media screen and (max-width: $break-small) {
        font-size: 1em;
        line-height: 150%;
      }
    }
    a {
      color: $sub-text-color;
      @extend .bottom-underline-thin;
      display: inline-block;
      line-height: 1;
    }
  }
  > .full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  > .inset {
    // width: 700px;
    padding-left: 25px;
    padding-right: 25px;
    img {
      width: 100%;
      margin-left: 0%;
    }
  }
}

.social {
  padding-top: 60px;
}

.paging-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  color: $primary-color;
  > * {
    padding: 10px 20px 10px 20px;
  }
  a {
    @extend .bottom-underline-thin;
    color: $primary-color;
    border-color: $primary-color;
  }
}

.footer {
  margin-top: 100px;
  color: #AAA;
  position: relative;
  bottom: 0px;
  font-size: 0.8em;
}
