$primary-color: rgb(255, 165, 0);
$primary-color-faded: rgba(255, 165, 0, 0.8);
$text-color: #000;
$sub-text-color: #666;

$break-small: 768px;

body {
  padding: 0;
  margin: 0;
  font-family: "Lucida Grande";
  color: $text-color;
}

.nav li {
  display:table-cell !important;
}

.bottom-underline {
  border-bottom: 2px solid $primary-color;
}
.bottom-underline-thin {
  border-bottom: 1px solid $primary-color;
}

#header {
  padding: 20px;
  background-color: black;
  color: white;
}
#content {
  padding: 20px;
}

li>a {
  text-decoration: none;
}

a:visited, a:link {
  color: $text-color;
}

a:hover {
    text-decoration: none;
}

.navbar-default {
  background: transparent;
  box-shadow: none;
  border: 0px;
  .navbar-nav{
    .active>a {
      @extend .bottom-underline;
      background: none;
      background-image: none;
      box-shadow: none;
    }
    li>a {
      margin-left: 10px;
    }
  }
}

.navbar-brand {
    border-bottom: 0px $primary-color solid;
}

.active {
    background: none;
    font-weight: bold;
}

.intro {
  margin-top: 50px;
  margin-bottom: 50px;
  @media screen and (max-width: 768px) {
    margin-bottom: 0px;
    h3 {
      font-size: 1.3em;
    }
  }
  font-size: 1em;
  a {
    @extend .bottom-underline;
  }
  h3 {
    margin-top: 0.5em;
  }
}

// FOR PORTFOLIO //
.portfolio-container, .shop-container {
  p {
    font-size: 1.33em;
    padding: 10px;
  }
}

.card, .shopcard{
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 15px 0px;
  // -webkit-transition: all 0.3s ease;
  // -moz-transition: all 0.3s ease;
  // -o-transition: all 0.3s ease;
  h3 {
    padding-left: 10px;
    padding-top: 0px;
    margin-top: 0px;
    span {
      @extend .bottom-underline;
    }
  }
  p {
    font-family: 'Martel', serif;
    font-size: 1.2em;
  }
  img {
    border: 1px solid #DDD;
    border-radius: 5px;
    width: 100%;
    max-width: 350px;
    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
}

.shopcard {
  img {
    max-width: none;
  }
  figcaption {
    padding-left: 8px;
    font-size: 1em;
    color: #aaa;
  }
  .header {
    margin-top: 10px;
    .right {
      color: #AAA;
      text-align: right;
    }
  }
  p {
    padding-left: 0px;
    padding-right: 0px;
  }
}

// FOR BLOG //
.blog-container {
    margin-top: 40px;
}

.post-container {
  margin-bottom: 50px;
  h1 {
    span {
      @extend .bottom-underline;
    }
  }
  p, sub {
    font-family: 'Martel', serif;
    font-size: 1.2em;
  }
}

.post-title {
    font-size: 1.5em;
    font-weight: lighter;
}

.post-detail {
    font-size: 1.3em;
}

.article-container {
  h1 {
    font-size: 3em;
    margin-top: 60px;
    margin-bottom: 30px;
    @media screen and (max-width: $break-small) {
      font-size: 2em;
      margin-top: 30px;
      margin-bottom: 15px;
      line-height: 160%;
    }
  }
  h2 {
    color: $sub-text-color;
    margin-top: 60px;
    margin-bottom: 30px;
    font-family: 'Martel', serif;
    line-height: 130%;
    @media screen and (max-width: $break-small) {
      font-size: 1.5em;
      margin-top: 30px;
      margin-bottom: 15px;
      line-height: 140%;
    }
  }
  h3 {
    margin-top: 60px;
    color: $sub-text-color;
    margin-bottom: 30px;
    font-family: 'Martel', serif;
    line-height: 210%;
    @media screen and (max-width: $break-small) {
      font-size: 1.5em;
      line-height: 140%;
      margin-top: 30px;
      margin-bottom: 15px;
    }
  }
  p {
    font-size: 1.4em;
    line-height: 1.7em;
    font-family: 'Martel', serif;
    line-height: 210%;
    @media screen and (max-width: $break-small) {
      font-size: 1.25em;
      line-height: 170%;
    }
  }
  img {
    margin-top: 25px;
    // margin-bottom: 25px;
    border-radius: 6px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    width: 100%;
  }
  a {
    color: $sub-text-color;
    @extend .bottom-underline;
  }
  blockquote{
    border-left: 5px solid $primary-color;
    @media screen and (max-width: $break-small) {
      border-left: 2px solid $primary-color;
    }
    p {
      font-size: 1.2em;
      color: $sub-text-color;
      @media screen and (max-width: $break-small) {
        font-size: 1em;
        line-height: 150%;
      }
    }
    a {
      color: #000;
      @extend .bottom-underline-thin;
    }
  }
  img {
    + em {
      font-size: small;
      color: #AAA;
    }
  }
}

.social {
  padding-top: 60px;
}

.footer {
  margin-top: 100px;
  color: #AAA;
  position: relative;
  bottom: 0px;
  font-size: 0.8em;
}
