extends header

block content

  .container
    .col-sm-6
      h3 Add Blog
      input.form-control#title(type="text", placeholder="title")
      input.form-control#summary(type="text", placeholder="summary")
      input.form-control#blogFile(type="text", placeholder="blog file (md file on S3)")
      input.form-control#publishDate(type="text", placeholder="publish date in milliseconds")
      input.form-control#tags(type="text", placeholder="comma,seperated,tags")
      button.btn.btn-primary#submit Add
    .col-sm-6
      h3 Add Project
      input.form-control#port-title(type="text", placeholder="title")
      input.form-control#port-startDate(type="text", placeholder="start date in milliseconds")
      input.form-control#port-endDate(type="text", placeholder="end date in milliseconds")
      input.form-control#port-publishDate(type="text", placeholder="publish date in milliseconds")
      textarea.form-control#port-description(type="text", placeholder="Description")
      input.form-control#port-imageFile(type="text", placeholder="image file (jpeg file on S3)")
      input.form-control#port-blogFile(type="text", placeholder="blog file (md file on S3)")
      input.form-control#port-tags(type="text", placeholder="comma,seperated,tags")
      button.btn.btn-primary#port-submit Add
    .col-sm-6
      h3 Add Shop items
      input.form-control#shop-title(type="text", placeholder="title")
      input.form-control#shop-description(type="text", placeholder="description")
      select.form-control#shop-available
        option.form-control(value="true") true
        option.form-control(value="false") false
      input.form-control#shop-imageFile(type="text", placeholder="image file (jpeg file on S3)")
      input.form-control#shop-width(type="number", placeholder="width in cm")
      input.form-control#shop-height(type="number", placeholder="height in cm")
      input.form-control#shop-publishDate(type="text", placeholder="publish date")
      input.form-control#shop-priceUSD(type="number", placeholder="price USD")
      input.form-control#shop-process(type="text", placeholder="Process link")
      button.btn.btn-primary#shop-submit Add
    script(src="javascripts/editor.js")
