extends header

block content

  .container
    .col-xs-6
      h3 Add Blog
      input.form-control#title(type="text", placeholder="title")
      input.form-control#summary(type="text", placeholder="summary")
      input.form-control#blogFile(type="text", placeholder="blog file (md file on S3)")
      input.form-control#publishDate(type="text", placeholder="publish date in milliseconds")
      input.form-control#tags(type="text", placeholder="comma,seperated,tags")
      button.btn.btn-primary#submit Add
    .col-xs-6
      h3 Add Project
      input.form-control#port-title(type="text", placeholder="title")
      input.form-control#port-startDate(type="text", placeholder="start date in milliseconds")
      input.form-control#port-endDate(type="text", placeholder="end date in milliseconds")
      input.form-control#port-publishDate(type="text", placeholder="publish date in milliseconds")
      input.form-control#port-imageFile(type="text", placeholder="image file (jpeg file on S3)")
      input.form-control#port-blogFile(type="text", placeholder="blog file (md file on S3)")
      input.form-control#port-tags(type="text", placeholder="comma,seperated,tags")
      button.btn.btn-primary#port-submit Add
    script(src="javascripts/editor.js")
