extends header

block content
  .container
    .col-md-6.col-sm-9.intro
      .row
        h3 I am an designer.
        h3 I currently teach and study at <br/>Northeastern University in Boston.
        h3 In my free time,<br/> I like to do <a href="http://500px.com/navarjun">photography</a> & <a href="http://goodreads.com/navarjun">read</a>.
  .container.portfolio-container
    each project,index in projects
      .row
        .col-md-8.card
          a(href="/design/"+project.urlId)
            .col-sm-4
              img(src=""+project.imageFile)
            .col-sm-8
              h3
                span= project.title
              p= project.description
