extends header

block content
  .container
    .col-md-6.col-sm-9.intro
      .row
        h3 Thanks for your interest in my work. Right now, I don't have a automated-shop within my website. It will come one day, I promise.
        h3 For now, please <a href="https://twitter.com/navarjun">tweet at me</a> <br/>or email me (navarjunsingh@gmail.com).
  .container.shop-container
    each item,index in items
      .row.shopcard
        .col-md-8.col-sm-12
          .row
            .col-xs-12
              figure
                img(src=""+item.imageFile, style="max-width: none;")
          .row.header
            .col-xs-4
              h4= "$"+item.priceUSD
            .col-xs-8.right
              h4= item.width_cm +"x"+ item.height_cm +" cm"
          .row
            .col-xs-12
              p= item.description
