extends header

block content
  .container.shop-container
    .col-md-12.intro
      .row
        p Thanks for your interest in my work. Right now, I don't have a automated-shop within my website. It will come one day, I promise.
        p For now, please <a href="https://twitter.com/navarjun">tweet at me</a> or email me (navarjunsingh@gmail.com).
  .container.shop-container
    each item,index in items
      .row.shopcard
        .col-md-12
          .row
            .col-xs-12
              figure
                img(src=""+item.imageFile, style="max-width: none;")
          .row.header
            .col-xs-1
              h4.price= "$"+item.priceUSD
            .col-md-4.col-sm-4.col-xs-5.pull-right
              h4.size= item.width_cm +"x"+ item.height_cm +" cm"
          .row
            .col-xs-12
              p= item.description
                br
                a(href=""+item.process) Creation Process
