extends header

block content
  .blog-container
    each post in posts
      .col-md-7
        .post-container
          a(href="/writing/"+post.urlId)
            h1.post-title= post.title
          sub.post-detail= post.summary
