doctype html
html
  head
    title= title

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u",crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa",crossorigin="anonymous")

    link(rel="stylesheet", href="/stylesheets/style.css")

  body
    nav.nav.navbar-default
      .container
        .navbar-header
          a.navbar-brand(href="/") navarjun

        ul.nav.navbar-nav.navbar-right
            li
              a(href="/") design
            li.active
              a(href="/writing") writing
    .container
      block content
