extends header

block content
  .blog-container
    each post in posts
      .col-md-12
        .post-container
          a(href="/writing/"+post.urlId)
            h1.post-title
              span= post.title
            sub.post-detail= post.summary
