extends header

block content
  .container.blog-container
    each post in posts
      .row
        .post-container
          a(href="/writing/"+post.urlId)
            h1.post-title
              span= post.title
            sub.post-detail= post.summary
  .container
    .row
      .post-container
        .paging-container
          .previous
            if prevPage
              a(href="/writing?page="+prevPage) Previous
          .current
            span #{currPage}/#{totalPages}
          .next
            if nextPage
              a(href="/writing?page="+nextPage) Next
