body {
  padding: 0;
  margin: 0;
  font-family: "Lucida Grande";
  color: #000; }

.nav li {
  display: table-cell !important; }

.bottom-underline, .navbar-default .navbar-nav .active > a, .intro a, .card h3 span, .shopcard h3 span, .post-container h1 span, .article-container a {
  border-bottom: 2px solid orange; }

.bottom-underline-thin, .article-container blockquote a {
  border-bottom: 1px solid orange; }

#header {
  padding: 20px;
  background-color: black;
  color: white; }

#content {
  padding: 20px; }

li > a {
  text-decoration: none; }

a:visited, a:link {
  color: #000; }

a:hover {
  text-decoration: none; }

.navbar-default {
  background: transparent;
  box-shadow: none;
  border: 0px; }
  .navbar-default .navbar-nav .active > a {
    background: none;
    background-image: none;
    box-shadow: none; }
  .navbar-default .navbar-nav li > a {
    margin-left: 10px; }

.navbar-brand {
  border-bottom: 0px orange solid; }

.active {
  background: none;
  font-weight: bold; }

.intro {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 1em; }
  @media screen and (max-width: 768px) {
    .intro {
      margin-bottom: 0px; }
      .intro h3 {
        font-size: 1.3em; } }
  .intro h3 {
    margin-top: 0.5em; }

.portfolio-container p, .shop-container p {
  font-size: 1.33em;
  padding: 10px; }

.card, .shopcard {
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 15px 0px; }
  .card h3, .shopcard h3 {
    padding-left: 10px;
    padding-top: 0px;
    margin-top: 0px; }
  .card p, .shopcard p {
    font-family: 'Martel', serif;
    font-size: 1.2em; }
  .card img, .shopcard img {
    border: 1px solid #DDD;
    border-radius: 5px;
    width: 100%;
    max-width: 350px; }
    @media screen and (max-width: 768px) {
      .card img, .shopcard img {
        margin-bottom: 20px; } }

.shopcard img {
  max-width: none; }
.shopcard figcaption {
  padding-left: 8px;
  font-size: 1em;
  color: #aaa; }
.shopcard .header {
  margin-top: 10px; }
  .shopcard .header .right {
    color: #AAA;
    text-align: right; }
.shopcard p {
  padding-left: 0px;
  padding-right: 0px; }

.blog-container {
  margin-top: 40px; }

.post-container {
  margin-bottom: 50px; }
  .post-container p, .post-container sub {
    font-family: 'Martel', serif;
    font-size: 1.2em; }

.post-title {
  font-size: 1.5em;
  font-weight: lighter; }

.post-detail {
  font-size: 1.3em; }

.article-container h1 {
  font-size: 3em;
  margin-top: 60px;
  margin-bottom: 30px; }
  @media screen and (max-width: 768px) {
    .article-container h1 {
      font-size: 2em;
      margin-top: 30px;
      margin-bottom: 15px;
      line-height: 160%; } }
.article-container h2 {
  color: #666;
  margin-top: 60px;
  margin-bottom: 30px;
  font-family: 'Martel', serif;
  line-height: 130%; }
  @media screen and (max-width: 768px) {
    .article-container h2 {
      font-size: 1.5em;
      margin-top: 30px;
      margin-bottom: 15px;
      line-height: 140%; } }
.article-container h3 {
  margin-top: 60px;
  color: #666;
  margin-bottom: 30px;
  font-family: 'Martel', serif;
  line-height: 210%; }
  @media screen and (max-width: 768px) {
    .article-container h3 {
      font-size: 1.5em;
      line-height: 140%;
      margin-top: 30px;
      margin-bottom: 15px; } }
.article-container p {
  font-size: 1.4em;
  line-height: 1.7em;
  font-family: 'Martel', serif;
  line-height: 210%; }
  @media screen and (max-width: 768px) {
    .article-container p {
      font-size: 1.25em;
      line-height: 170%; } }
.article-container img {
  margin-top: 25px;
  border-radius: 6px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  width: 100%; }
.article-container a {
  color: #666; }
.article-container blockquote {
  border-left: 5px solid orange; }
  @media screen and (max-width: 768px) {
    .article-container blockquote {
      border-left: 2px solid orange; } }
  .article-container blockquote p {
    font-size: 1.2em;
    color: #666; }
    @media screen and (max-width: 768px) {
      .article-container blockquote p {
        font-size: 1em;
        line-height: 150%; } }
  .article-container blockquote a {
    color: #000; }
.article-container img + em {
  font-size: small;
  color: #AAA; }

.social {
  padding-top: 60px; }

.footer {
  margin-top: 100px;
  color: #AAA;
  position: relative;
  bottom: 0px;
  font-size: 0.8em; }

/*# sourceMappingURL=style.css.map */
