extends header

block content
    .row
        .post-container
            h1.post-title!= post.title
            p.tags
                for tag in post.tags
                    span.badge.badge-pill.badge-dark= '#'+tag
            != html
