extends header

block content
    .jumbotron.jumbotron-fluid.bg-transparent
        .container
            .row
                .col-md-6
                    h1.display-4 Calligraphy
                .col-md-6
                    p This page is not updated frequently. If you would like to follow calligraphy (or interested in translations of the poetry), please follow my instagram: 
                        a.link(href='http://instagram.com/navarjun') @navarjun_calligraphy
                    | Thanks!
    .row
        section#calligraphy-container
            for val in calligraphyArray
                img(src= val.file)
