doctype html
html(lang='en')
  head
    title= title

    meta(name="viewport", content='initial-scale=1, initial-scale=1.0" viewport-fit=cover')
    meta(name="theme-color" content="#FFFFFF")
    
    //For social sharing
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@thesahilk" />
    <meta name="twitter:creator" content="@thesahilk" />
    //<meta property="og:url" content="http://www.thesahilk.com" />
    <meta property="og:title" content="Sahil K | Product Designer" />
    <meta property="og:description" content="I’m an Indo-Canadian Computer Science major currently leading a team of UI & UX designers at a design firm" />
    <meta property="og:image" content="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Home/Social+Banner.jpg" />

    link(rel="alternate",type="application/rss+xml",title="Sahil K | blog",href="/rss")
    link(rel="shortcut icon",type="image/png", href="/public/Favicon.png")
    //link(rel="shortcut icon",type="image/png", href="/public/Favicon.svg")
    link(rel="mask-icon", href="/public/Favicon.svg", color="#0E83F3")
    link(rel="icon" sizes="180x180" href="/public/apple-touch-icon.png")
    //link(href='https://fonts.googleapis.com/css?family=Alegreya:800|Fira+Sans:300|Fira+Sans:500', rel='stylesheet')
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', integrity='sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style_v2.css')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js', integrity='sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T', crossorigin='anonymous')
    script(type="text/javascript", src="/javascripts/index.js")

  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.bg-white
      .container
        a.navbar-brand(href='/', class= (navbar==='home'?'active':'')) Sahil K
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            // THIS IS THE NAVIGATION SYSTEM ON THE LEFT, NEXT TO BRAND-IMAGE
          .my-2.my-lg-0
            ul.navbar-nav.mr-auto
              // THIS IS THE NAVIGATION SYSTEM ON THE RIGHT, NEXT TO BRAND-IMAGE
              li.nav-item
                a(href='/', class= (navbar == 'home' ? 'nav-link active' : 'nav-link' )) About
              li.nav-item
                a(href='/work', class= (navbar == 'work' ? 'nav-link active' : 'nav-link' )) Work
              //li.nav-item
                //a(href='/blog', class= (navbar == 'blog' ? 'nav-link active' : 'nav-link' )) Blog
              li.nav-item
                a(href='http://instagram.com/thesahilk', class= (navbar == 'photography' ? 'nav-link active' : 'nav-link' )) Photography
                
    #website-container.container-fluid
      block content