extends header

block content
    #about-container.row
        // .about-photo
        .about-description
            div
                h1 My name is Sahil, I am a Product Designer from Mumbai
                |
                p.subtitle
                    |I’m an Indo-Canadian Computer Science major currently leading a team of UI & UX designers at the design firm, The Geeks Lab
                    |
                //    a.currentcompany(href='http://thegeekslab.com') The Geeks Lab
                //    | 
                p
                | As a Product Designer, I love working and collaborating with agencies and clients to develop digital concepts and solve problems together. In my free time I love to learn & explore other creative avenues like writing, 
                //|
                //a.link(href='/blog') writing 
                //|, 
                a.link(href='http://instagram.com/thesahilk')  photography 
                |& occasionally coding 😅
                p
                | In my 5 years of experience I have been lucky to work with companies like 
                |
                a(style={color:'#DD0000; font-weight:600;'}) Magicbricks
                |, 
                |
                a(style={color:'#251E33; font-weight:600;'}) The Times of India
                |, 
                |
                a(style={color:'#FF0000; font-weight:600;'}) Adobe
                |, 
                |
                a(style={color:'#00558F; font-weight:600;'}) Cars
                |
                a(style={color:'#FF5900; font-weight:600;'}) 24 
                | & 
                |
                a.link(href='/work') many more 
                |
                to always deliver user-centred and usable design solutions.
                | <br/><br/>
                | If you want to work together or just say hi, feel free to contact me<br/>
                p.social
                    | 
                    a.twitter(href='http://twitter.com/thesahilk') Twitter
                    |    •   
                    a.email(href='mailto:contact@thesahilk.com') Email
                    |    •    
                    a.dribbble(href='http://dribbble.com/thesahilk') Dribbble
                |</br>
            
