extends header

block content
    #about-container.row
        .about-photo
        .about-description
            div
                h1 Hi, I am Navarjun!
                p
                | I am an information designer and a software engineer. I co-founded a company in the final year of my bachelors. Six months after graduating, moved on to work as a product manager in a different company. I worked as a product manager and an iOS developer for a couple years. Then decided to study design, which landed me in Northeastern University in Boston, Massachusetts.
                | <br/><br/>
                | I like to walk around the city with my camera, write blogs, poetry and calligraphy.
                | <br/><br/>
                | I would love to get in touch with you:<br/>
                p.social
                    | Twitter: 
                    a(href='http://twitter.com/Navarjun') @Navarjun
                p.social
                    | Instagram: 
                    a(href='http://instagram.com/navarjun') @navarjun
                    | 
                    a(href='http://instagram.com/navarjun_calligraphy') @navarjun_calligraphy
                p.social Email: navarjun.singh@gmail.com
                | <br/><br/>
                | Thanks for visiting!
