extends header

block content
    #projects-container
        .project-container
            div    
                .work-item
                    .work-image
                        //img(src= '/public/OYO.jpg')
                        img(src="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Project/Magicbricks.jpg")
                        |
                    .work-center
                    |
                    .work-content
                        h1 Magicbricks
                        |
                        .company-container
                            .timeline
                                |2014
                            .center-margin
                                |
                            .workinfo
                                |Responsible for research & wireframing of the complete product for a successful major product & visual revamp of their website
                        .company-container
                            .timeline
                                |2015
                            .center-margin
                                |
                            .workinfo
                                |Revamped the android app to make user flows & journeys quicker & easier; which would later be ported over to iOS and mobile web
                .work-item
                    .work-image
                        //img(src= '/public/OYO.jpg')
                        img(src="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Project/TOI.jpg")
                        |
                    .work-center
                    |
                    .work-content
                        h1 The Times of India
                        |
                        .company-container
                            .timeline
                                |2015
                            .center-margin
                                |
                            .workinfo
                                |Designed a visual refresh for mobile homepage
                        .company-container
                            .timeline
                                    |2015
                            .center-margin
                                    |
                            .workinfo
                                    |Lead a design team to redesign the android app to follow material guidelines, which was featured by Google on the Play Store
                        .company-container
                            .timeline
                                    |2016
                            .center-margin
                                    |
                            .workinfo
                                    |Lead a design team to update the iOS app to follow modern iOS standards
                        .company-container
                            .timeline
                                    |2016
                            .center-margin
                                    |
                            .workinfo
                                    |Rebranding of The Times City app
                .work-item
                    .work-image
                        //img(src= '/public/OYO.jpg')
                        img(src="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Project/91M.jpg")
                        |
                    .work-center
                    |
                    .work-content
                        h1 91Mobiles
                        |
                        .company-container
                            .timeline
                                |2015
                            .center-margin
                            |
                            .workinfo
                                |Designed a new User & Expert rating & reviews system in a Product Page with the goal of easy distinction and surfacing keywords from reviews
                        .company-container
                            .timeline
                                |2016
                            .center-margin
                                |
                            .workinfo
                                |Redesigned the Product Page to make sorting through multi-store pricing/offers easy, a readable spec sheet & easily navigable multi-album gallery
                        .company-container
                            .timeline
                                |2016
                            .center-margin
                                |
                            .workinfo
                                |Lead a design team to redesign their android app to fit inline with Material Design guidelines
                .work-item
                    .work-image
                        //img(src= '/public/OYO.jpg')
                        img(src="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Project/Cars24.jpg")
                        |
                    .work-center
                    |
                    .work-content
                        h1 CARS24
                        |
                        .company-container
                            .timeline
                                |2015
                            .center-margin
                                |
                            .workinfo
                                |Did wireframing & visual design for a new android app, aimed at  car inspectors working at their garage
                        .company-container
                            .timeline
                                |2016
                            .center-margin
                                |
                            .workinfo
                                |Restructured/redesigned their online customer acquisition flow to a more compact version for improved conversions
                        .company-container
                            .timeline
                                |2016
                            .center-margin
                                |
                            .workinfo
                                |Redesigned the android & iOS apps for car dealers to focus on auctioning, purchasing & managing cars
                        .company-container
                            .timeline
                                |2017
                            .center-margin
                                |
                            .workinfo
                                |Redesigned the mobile website to improve loading times, support high dpi screens & easier/quicker filling of forms
                        .company-container
                            .timeline
                                |2018
                            .center-margin
                                |
                            .workinfo
                                |Redesigned mobile and web homepages to improve product communication to users
                .work-item
                    .work-image
                        //img(src= '/public/OYO.jpg')
                        img(src="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Project/Gadgets.jpg")
                        |
                    .work-center
                    |
                    .work-content
                        h1 Gadgets Now
                        |
                        .company-container
                            .timeline
                                |2016
                            .center-margin
                                |
                            .workinfo
                                |Lead a design team to provide branding and product design for the 2016 launch of this product
                .work-item
                    .work-image
                        //img(src= '/public/OYO.jpg')
                        img(src="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Project/Chaayos.jpg")
                        |
                    .work-center
                    |
                    .work-content
                        h1 Chaayos
                        |
                        .company-container
                            .timeline
                                |2016
                            .center-margin
                                |
                            .workinfo
                                |Lead a design team to architect & design their online ordering system for placing orders for delivery or in-store pickup
                .work-item
                    .work-image
                        img(scrset="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Project/OYO.jpg 1x, https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Project/OYO%402x.jpg 2x" alt="OyoDashboard"  src="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Project/OYO.jpg")
                        |
                    .work-center
                    |
                    .work-content
                        h1 OYO Rooms
                        |
                        .company-container
                            .timeline
                                |2016
                            .center-margin
                                |
                            .workinfo
                                |Did wireframing & visual design of the managing/editing of hotel bookings module to be used by OYO call centres employees
                .work-item
                    .work-image
                        img(src="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Project/Adobe.jpg")
                        |
                    .work-center
                    |
                    .work-content
                        h1 Adobe
                        |
                        .company-container
                            .timeline
                                |2016
                            .center-margin
                                |
                            .workinfo
                                |Did contract visual & interaction work for their new tool in the Adobe Advertising Cloud called Media Optimiser
                .work-item
                    .work-image
                        img(src="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Project/I2E1.jpg")
                        |
                    .work-center
                    |
                    .work-content
                        h1 I2E1
                        |
                        .company-container
                            .timeline
                                |2017
                            .center-margin
                                |
                            .workinfo
                                |Architected the information structure & user flows for their customer facing android app & lead the visual design of the same
                .work-item
                    .work-image
                        img(src="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Project/Techgig.jpg")
                        |
                    .work-center
                    |
                    .work-content
                        h1 Techgig
                        |
                        .company-container
                            .timeline
                                |2017
                            .center-margin
                                |
                            .workinfo
                                |Lead a design team to redesign structurally & visually, the entire consumer side product line
                        .company-container
                            .timeline
                                |2018
                            .center-margin
                                |
                            .workinfo
                                |Did wire framing and visual design for creation & management of Webinars & Job Offers section of the corporate side of the product line
                .work-item
                    .work-image
                        img(src="https://s3.ap-south-1.amazonaws.com/thesahilkdesign/Project/Clearnifty.jpg")
                        |
                    .work-center
                    |
                    .work-content
                        h1 Clearnifty
                        |
                        .company-container
                            .timeline
                                |2018
                            .center-margin
                                |
                            .workinfo
                                |Architected the information structure & user flows for their cross platform mobile app & lead the visual design of the same